body {
    background: #171717;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

a {
    color: #fff;
    font-size: 120%;
}

.header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header.warning {
    background: darkred;
}

.offline-warning {
    display: none;
}

.offline-warning.offline {
    display: block;
}

.offline-warning h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: darkorange;
}

.server-error-warning {
    display: none;
}

.server-error-warning.active {
    display: block;
}

.server-error-warning h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: darkred;
}

.servers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
}

.server {
    flex: 1;
    padding: 7px;
    margin: 2px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.server-up {
    background: #669900;
}

.server-slow {
    background: rgba(212, 205, 0, 0.8);
}

.server-down {
    background: darkred;
}

.server h1 {
    font-size: 13px;
}

.server p {
    font-size: 12px;
}

.error-line {
    width: 95%;
    margin: 0 2.5%;
}

.top-links {
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: uppercase;
}

.top-links a {
    padding-left: 0.5em;
}

@media (min-width: 1600px) {
    body {
        width: 80%;
        margin: 0 10%;
    }
    .server h1 {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .server p {
        font-size: 13px;
    }

    .top-links a {
        padding-left: 2em;
    }
}

@media (max-width: 480px) {
    .top-links {
        position: static;
        text-align: center;
        padding-bottom: 1em;
    }

    .top-links a {
        padding-left: 0.5em;
    }
}
